blinker==1.9.0
Bottleneck==1.5.3
click==8.2.1
colorama==0.4.6
Flask==3.1.1
itsdangerous==2.2.0
Jinja2==3.1.6
Levenshtein==0.27.1
MarkupSafe==3.0.2
mkl-service==2.4.0
numpy==1.24.3
opencv-python==4.7.0.72
packaging==25.0
pandas==2.2.3
pillow==11.3.0
PyMuPDF==1.26.3
pytesseract==0.3.13
RapidFuzz==3.13.0
six==1.16.0
tzdata==2023.3
Werkzeug==3.1.3